:root {
	-webkit-font-smoothing: antialiased;
	font:
		14px Helvetica Neue,
		Helvetica,
		Arial,
		sans-serif;
	font-weight: 300;
	line-height: 1.4em;
	margin: 0 auto;
	max-width: 550px;
	min-width: 230px;
}
